@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Outfit:wght@100..900&display=swap");

:root {
  --font-title: "Outfit", sans-serif;
  --font-code: "Kode Mono", monospace;
}

body {
  background: #171717;
  color: #fff;
  font-family: var(--font-code);
}

h1, h2 {
  font-family: var(--font-title);
}

header {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: auto;

  img {
    height: 100px;
    z-index: 5;
  }

  h1 {
    font-size: 4.5rem;
    margin: 0;
    z-index: 5;
  }

  .bg {
    position: absolute;
    color: #333;
    inset: 0;
    max-height: 128px;
    overflow: hidden;
    filter: blur(1px);
  }
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 600px;

  fieldset {
    border: 1px solid #555;
    padding: 1rem;
    margin: 0 1rem;
    height: 100%;

    legend {
      padding: 1rem;
      color: #ccc;
    }
  }

  .source,
  .optimized {
    font-family: var(--font-code);
    font-size: 1.15rem;
    width: 95%;
    max-height: 600px;
    overflow-y: auto;

    /* height: 95%; */
    border: 0;
    padding: 1rem;
    color: #fff;
    background: #333;
    scrollbar-color: #999 #333;
    scrollbar-width: auto;
    resize: none;
  }

  .output-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;

    .slider-container {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    input[type="range"] {
      accent-color: deeppink;
      height: 50px;
    }

    .viewbox {
      width: 60px;
      border: 0;
      padding: 0 0.5rem;
      background: #222;
      height: 28px;
      color: #fff;
      font-family: var(--font-code);
      font-size: 1rem;

      &.w { margin-left: auto; }
    }

    .preview {
      width: 100%;
      height: 92%;
      background: #333;
      overflow: hidden;
      pointer-events: none;

      svg {
        background: #444;
        translate: calc(var(--x) * 1px) calc(var(--y) * 1px);
        pointer-events: auto;
      }
    }
  }

  .optimized-container {
    display: flex;
    flex-direction: column;

    .data-container {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }

    .size {
      font-family: var(--font-code);
      font-size: 1rem;
      width: 75px;
      height: 25px;
      border: 0;
      background: #222;
      padding: 0.25rem 1rem;
      color: #fff;
    }

    .copy {
      --darker-gradient: linear-gradient(to bottom, #0006, #0008);
      --gradient-color: linear-gradient(#0863a5, #1283d1);
      --border-color: #0b5a92;

      width: max-content;
      padding: 0.5rem 1rem;
      align-self: end;
      min-height: 25px;
      display: flex;
      justify-content: center;
      border: 0;
      border-radius: 10px;
      color: #eee;
      background: var(--gradient-color);
      box-shadow: 0 7px 0 var(--border-color), 0 8px 3px #0000004d;
      transition: all 0.25s;
      text-decoration: none;

      &:active {
        color: #888;
        background: var(--darker-gradient), var(--gradient-color);
        transform: translateY(5px);
        box-shadow: 0 2px 0 var(--border-color), 0 3px 3px #0000004d;
      }
    }
  }
}

/* Actions */
.action {
  span {
    margin: 2px;
    height: 20px;
    min-width: 20px;
    padding: 5px 8px;
    display: inline-block;
    text-align: center;
  }

  .letter {
    background: var(--color);
    color: #fff;

    &:is(.M, .m) { --color: #842424 }
    &:is(.A, .a) { --color: #20923a }
    &:is(.L, .l) { --color: #282a36 }
    &:is(.Q, .q) { --color: #44475a }
    &:is(.T, .t) { --color: #bd93f9 }
    &:is(.S, .s) { --color: #6272a4 }
    &:is(.C, .c) { --color: #8be9fd }
    &:is(.H, .h) { --color: #50fa7b }
    &:is(.V, .v) { --color: #ffb86c }
    &:is(.Z, .z) { --color: #222; }

    &:is(.lower) {
      background: color-mix(
        in srgb, var(--color), black 35%);
    }
  }

  .p {
    background: #2c2c2c;

  }
}
